body {
    width: 80%;
    line-height: 1.35em;
    font-family: 'Chivo', sans-serif;
    color: #333;
    font-size: 1.15em;
}
ul {
  list-style: square outside;
  margin: 0 0 20px 10px;
  padding: 0 0 0 10px
}
ol {
  list-style: decimal outside;
  margin: 0 0 20px 10px;
  padding: 0 0 0 10px

}	
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	line-height: 1;
}
h2,
h4,
h5,
h6 {
	font-weight: normal;
}
a {
  color: #F17836;
  text-decoration: none;
}
a:hover {
  color: #FFCC00;
}
